.btn-default{
    color: #fff;
    background-color: rgb(8, 143, 177);
}
.btn-default:hover{
    color: #fff;
    background-color: #111;
}
.bg-custom{
    background-color: rgb(8, 143, 177);

}

.bg-default{
    background-color: rgb(161, 225, 231);
}
.color-default{
    color: rgb(8, 143, 177);
}

.dark-mode {
    background-color: black;
    color: white;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}